.list-inner{
    background: #FFFFFF;
    border-radius: 20px;
    padding: 25px;
    margin-bottom: 20px;
}
.list-inner img{
    height: 74px;
}

.list-inner h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0.396px;
    color: #111430;
    margin-top: 20px;
    margin-bottom: 15px;
}

.status strong{
    padding: 5px 12px;
    background: #C6FFE0;
    color: #009444;
    font-weight: 600;
    border-radius: 8px;
}