.home-wrapper{
    height: 100vh;
    background: #FBD062;
    clip-path: polygon(0 0, 100% 0, 100% 83%, 0% 100%);
    padding-top: 95px;
}
.home-inner{
    padding-top: 80px;
}
.home-inner h1{
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.01em;
    color: #111430;
}
.home-inner p{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #000000;
    margin-bottom: 30px;
}

@media (max-width: 991px) {
    .home-wrapper {
        height: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        padding-bottom: 60px;
    }
    .home-inner h1 {
        font-size: 36px;
        line-height: 45px;
    }
}
@media (max-width: 767px) {
    .home-inner {
        padding-top: 10px;
    }
    .client-area img {
        height: 35px;
        margin-bottom: 30px;
        padding-right: 30px;
    }
    .section-padding {
        padding-top: 60px;
        padding-bottom: 20px;
    }
    .title {
        margin-bottom: 10px;
        margin-top: 20px;
    }
}